<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="three">
<h2>My Projects</h2>
<ul>
{% for p in projects %}
    <li><b>{{ p.title }}</b>: {{ p.description }}</li>
{% endfor %}
</ul>
<h3>Add Project</h3>
<form method="POST">
    <input name="title" placeholder="Project Title"><br>
    <textarea name="description" placeholder="Description"></textarea><br>
    <button type="submit">Add</button>
</form>
</div>
<a href="/auth/dashboard">Back</a>
</body></html>