<!DOCTYPE html>
<html>
<head>
    <title>Home - Multi-Model API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Multi-Model API App</h1>
        <a href="{{url_for('add_user')}}">Add Users</a>
        <hr>
        <a href="{{ url_for('list_users') }}">View Users</a> 
        <hr>      
        <a href="{{url_for('add_project')}}">Add Projects</a>
        <hr>
    </div>
   
</body>

</html>
